/* Style sheet for the navbar  */
nav {
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    height: 60px;
    
  }
  
  
  nav .title {
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }
  
  
  nav .links {
    display: flex;
    margin-left: auto;
    height: 60px;
  }
  nav .links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  
  nav .links a:hover {
    background-color: #444;
  }
  
  
  nav .links a.active {
    background-color: #555;
  }
  